<p>
	<a style="font-weight: bold; color: green;" href="http://www.freedomsponsors.org/core/issue/sponsor?trackerURL=${baseurl}/browse/${issue.key}">Sponsor $issue.key on FreedomSponsors.org $issue.project.url</a>
</p>